body {
	font-family: Helvetica;
	font-size: 20px;
}

header{
	background-color: black;
	padding: 10px;
}

h1{
	color: white;
	font-family: Arial; 
	font-size: 25px;
	margin top: 15px;
	text-align: left ;


}

header nav {
	text-align: right;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav a {
	color: white;

}

@media (max-width; 767px) {
	nav a {
		display: block;
	}

	nav {
		text-align: center;
	}
	})
